.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  background: rgb(132, 151, 170);

}

.App main {
  overflow: auto;
}

.App div {
  font-size: 25px;
}

h1 {
  font-size: 50px;
  display: flex;
  color: pink;
  text-shadow: black 3px 3px;
  font-style: oblique;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}