.Paging {
  display: grid;
  grid-template-columns: 36px 65px 36px;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.Paging button {
  height: 36px;
  width: 100%;
  cursor: pointer;
  border: 0;
  outline: 0;
  color: white; 
  background: white;
  transition: all 250ms ease-in-out;
}

.Paging button:hover {
    background: lightpink;
}

.Paging form {
  width: 50px;
}

.Paging span {
    font-size: .85rem;
  }