.PokemonItem {
  list-style: none;
  background: lightpink;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px black;
  padding: 10px;
  box-shadow: black 3px 3px 0px 0px;
  font-family: Arial, Helvetica, sans-serif; 
  
  height: 250px;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-gap: 5px;

  text-transform: capitalize;
  
  justify-items: center;
  justify-content: center;
}

.PokemonItem h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.PokemonItem img {
  height: 100%;
  width: 100%;
  min-height: 0;
  object-fit: contain;
}

.PokemonItem p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1rem;
}